---
import { getLanguageFromURL, getVersionFromURL } from '../../util'
import type { NavItem } from '../../i18n/en/nav'
import NavItemComp from './NavItem'
//import LeftSidebarWrapper from './LeftSidebarWrapper'

export interface Props {
  sidebarSections: NavItem[]
  currentPageMatch: string
  type: string
  defaultActiveTab: string
}

const { sidebarSections, currentPageMatch } = Astro.props as Props
const lang = getLanguageFromURL(Astro.url.pathname)
const version = getVersionFromURL(Astro.url.pathname)
let urlVersion = version ? `v${version}/` : ''
const categoryLinkPrefix = `/${lang}/${urlVersion}`

const currentPageNoLangNoVer = currentPageMatch.replace(`${lang}/`, '').replace(urlVersion, '') + '/'
---

  <ul>
    {sidebarSections.map((section, index) => section.isSectionTitle ? (
      <div class="ml-2 text-black-300 font-bold my-2">
        {section.text}
      </div>
    ) :
      <NavItemComp
        item={section}
        currentPageNoLangNoVer={currentPageNoLangNoVer}
        categoryLinkPrefix={categoryLinkPrefix}
        client:load
      />
    )}
  </ul>
