---
let {videoURL, title, description,learnMoreURL} = Astro.props;
import { YouTube } from 'astro-embed'
---

<blockquote class="video">
    
    <div class="flex w-full justify-start md:justify-between items-center flex-col md:flex-row ">
        <div class="flex flex-col w-full md:w-8/12 pr-2 overflow-hidden">
            <p class="card rounded bg-slack py-0.5 px-2 text-xs font-semibold w-fit uppercase mb-4"> Video Tutorial</p>
            {title && ( <h4 class="video-title"> {title}  </h4> )} 
            {description && ( <p class="my-3 text-sm"> {description} </p> )}
            {learnMoreURL && ( <a href={videoURL} class="learn-more no-underline hidden md:block" target="_blank">Watch on Youtube</a> )} 
        </div>
        
        <div class="w-full md:w-3/6 grow rounded md:p-2 md:pr-0 my-2 md:my-0">
            {videoURL && ( <YouTube id={videoURL} /> )} 
        </div>
        {learnMoreURL && ( <a href={videoURL} class="learn-more no-underline block md:hidden text-left" target="_blank">Watch on Youtube</a> )}   
   </div>     
</blockquote>

<style>
    lite-youtube{
        border-radius: var(--theme-border-radius);
    }
</style>